---
layout: layout.hbs
---
<div class="content">
  <div class="content__padded">
    <div class="thankyou__page">
      <div class="block_text">
        <h3 class="thankyou_title">Thank you</h3>
        <h5 class="page_title">We really appreciate your feedback and thank you<br> for your precious time in sharing your important views.</h5>
      </div>
      <div class="block__icons_cover">
        <i class="icons_thankyou">&nbsp;</i>
      </div>
      <div class="block_button">
        <a href="#" class="btn btn-block btn__regular long">Return to Home</a>
      </div>
    </div>
  </div>
</div>
