---
layout: layout.hbs
---
<div class="content">
  <div class="content__padded">
    <div class="privacypolicy_content terms_content">
      <h3 class="page_title">Privacy Policy</h3>
      <p class="terms_info privacypolicy_info">This Payment Policy is incorporated into the Brain Fit Life <a href="#" title="Privacy Policy" class="privacy">Terms of Service</a>, and applies to users who have purchased a Brain Fit Life subscription plan to access Brain Fit Life online or through a mobile application, and to individuals whose payment details have been used to purchase the Brain Fit Life services.</p>
      <ul class="list__detail">
        <li class="list__detail_item">
          <h4 class="item_title">Overview of Subscription Plans and Payments</h4>
          <p class="terms_info">We offer an annual plan at a flat fee of $99.00 per year. Our subscription plan renews automatically, as described in more detail below. If you have questions regarding your plan following your purchase, please refer to the confirmation email sent to you after your purchase.</p>
          <p class="terms_info">Both our mobile and online subscription plans are billed in one payment for the term. This means, you will be charged for the entire year at one time. Please note that we may use a third-party payment processor to facilitate your payments.</p>
        </li>
        <li class="list__detail_item">
          <h4 class="item_title">Refund Policy</h4>
          <p class="terms_info">Brain Fit Life subscriptions made online at MyBrainFitLife.com offer a 30 day, 100% money back guarantee. You may receive a refund by contacting our <a href="#" title="Privacy Policy" class="privacy">Customer Service team</a> within 30 days of your purchase. After that 30 day window, we will not provide a refund. We do not prorate refunds or offer partial refunds. If you need any assistance with Brain Fit Life, our dedicated customer service is available to you weekdays from 8:00 a.m. to 5:00 p.m. PST. Please do not hesitate to contact us at <a href="#" title="Privacy Policy" class="privacy">customercare@mybrain-fitlife.com</a> if you are having any problems. We want you to be successful with this program.</p>
        </li>
        <li class="list__detail_item">
          <h4 class="item_title">Renewals</h4>
          <p class="terms_info">All Brain Fit Life subscriptions made online at MyBrainFitLife.com, renew automatically using the payment details on file for your account. When you purchase a subscription with Brain Fit Life, you acknowledge and agree that we are authorized to use the payment information on file for the renewal fee.</p>
          <p class="terms_info">The date that your subscription will automatically renew is exactly 365 days from your initial purchase date. You may cancel automatic renewal at any time before that date by <a href="#" title="Privacy Policy" class="privacy">contacting our Customer Service team</a>. This will stop future subscription charges from accruing to your account. We will refund renewal payments if you <a href="#" title="Privacy Policy" class="privacy">contact our Customer Service</a> team within 30 days after each renewal occurs.<br>
          If you signed up with a promotion, your renewal rate may be higher than your initial rate.</p>
          <div class="change_policy">
            <h3 class="page_title">Pricing Change Policy</h3>
            <p class="terms_info">Our prices may change in the future. If the pricing for your subscription does change, we will notify you about those changes to your account</p>
          </div>
        </li>
        <li class="list__detail_item">
          <h4 class="item_title">Renewals</h4>
          <p class="terms_info">By providing payment information to us, you agree that the payment information is valid and (1) in your name or (2) in the name of an individual who has authorized you to use their payment information for your subscription purchase.</p>
          <p class="terms_info">If you provide someone else’s payment information, you agree that we may refund payment to that person if they so request and if the account is eligible for a refund under this Payment Policy. This may cause interruption to or termination of</p>
        </li>
      </ul>
      <div class="btn_home">
        <a href="#" class="btn btn-block btn__regular long">Return to Home</a>
      </div>
    </div>
  </div>
</div>
