---
layout: layout.hbs
---
<div class="content">
  <div class="content__padded">
    <div class="reference_content">
      <h3 class="page_title">References</h3>
      <p class="caption">The Risk Reduction Score is based on
      science frommultiple publications below;</p>
      <ul class="table-view table_inner">
        <li class="table-view-cell media reference">
          <a href="#" class="navigate-right">
            <i class="media-object pull-left icons_reference">&nbsp;</i>
            <div class="media-body">
              <h4 class="topic">MIND diet associated with reduced incidence of Alzheimer’s disease</h4>
              <p class="tag">Alzheimer's &amp; Dementia.</p>
              <p class="date">11(9), 1007-1014. 2015</p>
              <p class="via">Morris, M. C., Tangney, C. C., Wang, Y., Sacks, F. M., Bennett, D. A., Aggarwal, N. T.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media reference">
          <a href="#" class="navigate-right">
            <i class="media-object pull-left icons_reference">&nbsp;</i>
            <div class="media-body">
              <h4 class="topic">Development of a New Method for Assessing Global Risk of Alzheimer’s Disease for Use in Population Health Approaches to Prevention</h4>
              <p class="tag">Prevention Science</p>
              <p class="date">14(4), 411-421. 2013</p>
              <p class="via">Anstey, K. J., Cherbuin, N., Herath, P. M.</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media reference">
          <a href="#" class="navigate-right">
            <i class="media-object pull-left icons_reference">&nbsp;</i>
            <div class="media-body">
              <h4 class="topic">What sleep characteristics predict cognitive decline in the elderly?</h4>
              <p class="tag">Sleep medicine</p>
              <p class="date">13(7), 886-892. 2012</p>
              <p class="via">Keage, H. A. D., Banks, S., Yang, K. L., Morgan, K., Brayne, C., Matthews, F. E.</p>
            </div>
          </a>
        </li>
      </ul>
      <div class="btn_home">
        <a href="#" class="btn btn-block btn__regular short">Home</a>
      </div>
    </div>
  </div>
</div>
