---
layout: layout.hbs
---
<div class="content">
  <div class="content__padded page-rrs">
    <div class="progress hidden">
      <div class="progress__bar">
        <div class="progress__bar__current">
          <div class="percent">
            <span>50</span>
          </div>
        </div>
      </div>
    </div>
    <form id="risk-reduction-score" action="" method="post"></form>
  </div>
</div>
