---
layout: layout.hbs
---
<div class="content">
  <div class="content__padded">
    <div class="terms_content">
      <h3 class="page_title">Pegara Terms of Service</h3>
      <p class="terms_info">Thank you for using Brain Fit Life. Brain Fit Life is created by BrainMD Health These Terms of Service (“TOS”) govern the use of Brain Fit Life online at MyBrainFitLife.com and on mobile devices (collectively, “Brain Fit Life”)</p>
      <p class="terms_info">These TOS represent a binding contract between you and BrainMD Health, and by creating an account or otherwise accessing Brain Fit Life, you expressly agree to be bound by them, The TOS incorporate the provisions of the <a href="./BS004-privacypolicy.html" title="Privacy Policy" class="privacy">Privacy Policy</a>, so please review them carefully as well. If you do not agree to be bound by the TOS, you may not use or purchase Brain Fit Life.</p>
      <ul class="summary">
        <li class="summary__item terms_info">Your Account Information and Email</li>
        <li class="summary__item terms_info">Intellectual Property</li>
        <li class="summary__item terms_info">Your License to Use Brain Fit Life</li>
        <li class="summary__item terms_info">Canceling Your Account</li>
        <li class="summary__item terms_info">Restrictions and Prohibited Uses</li>
        <li class="summary__item terms_info">Disclaimers</li>
        <li class="summary__item terms_info">Limitation of Liability</li>
      </ul>
      <ul class="list__detail">
        <li class="list__detail_item">
          <h4 class="item_title">Your Account Information and Email</h4>
          <p class="terms_info">Brain Fit Life provides a personalized content and training experience. When you create an account, we require you to provide information about yourself, including your email address and a password (“Account Information“).</p>
          <p class="terms_info">Some Brain Fit Life features either now or in the future may allow you to post or submit content and materials for publication on Brain Fit Life (“Your Content”). You own any intellectual property rights to Your Content, but you agree that we can use, reproduce, modify, adapt and publish Your Content for purposes of enabling us to offer Brain Fit Life or the features you have elected to use. You are responsible for Your Content, and acknowledge that once published, we cannot always remove it.</p>
          <p class="terms_info">You agree that we may send communications to your email address for customer service, confirmations, newsletters, product offers and other matters.</p>
          <p class="terms_info">You may choose to opt out of much of this email correspondence by using the links at the bottom of our emails.
          Please note that even if you opt out, we’ll still send you account-related emails, such as purchase confirmation and password reset emails.</p>
        </li>
        <li class="list__detail_item">
          <h4 class="item_title">Intellectual Property</h4>
          <p class="terms_info">Brain Fit Life is protected by U.S. and international intellectual property laws and you agree to abide by them. Without our prior written consent, you may not download, copy or store Brain Fit Life content in any form outside of Brain Fit Life and you may not modify, publish, transmit, participate in the transfer or sale of, reproduce, create derivative works based on, distribute, or perform any Brain Fit Life content. You agree that all data and algorithms in our flash files and associated servers are “trade secrets” as defined, without limitation, in the California Uniform Trade Secrets Act. You agree to comply with reasonable written requests from us to help us in protecting our proprietary and intellectual property rights in Brain Fit Life. All intellectual property rights in Brain Fit Life are, as between you and BrainMD Health the sole and exclusive property of BrainMD Health.</p>
          <p class="terms_info">Some Brain Fit Life features either now or in the future may allow you to post or submit content and materials for publication on Brain Fit Life (“Your Content”). You own any intellectual property rights to Your Content, but you agree that we can use, reproduce, modify, adapt and publish Your Content for purposes of enabling us to offer Brain Fit Life or the features you have elected to use. You are responsible for Your Content, and acknowledge that once published, we cannot always remove it.</p>
          <p class="terms_info">We appreciate when you provide us feedback through customer service or by email or social features, but we may use any feedback, comments, or suggestions without any obligations to you.</p>
        </li>
        <li class="list__detail_item">
          <h4 class="item_title">Your License to Use Brain Fit Life</h4>
          <p class="terms_info">We are providing you with access to Brain Fit Life pursuant to a limited, non-exclusive, non-sub-licensable, non-transferable, revocable license. You can use Brain Fit Life for personal, non-commercial use only, and subject to the TOS. This license is available to you as long as you are not barred from Brain Fit Life by applicable law and your account is not terminated by us or by you. If the TOS are not enforceable where you are located, you may not use Brain Fit Life. BrainMD Health reserves all right, title, and interest not expressly granted under this license to the fullest extent possible under applicable laws.</p>
        </li>
        <li class="list__detail_item">
          <h4 class="item_title">Canceling Your Account</h4>
          <p class="terms_info">While we hope you enjoy using Brain Fit Life, you may cancel your account at any time by contacting our <a href="#" title="Privacy Policy." class="privacy">customer support team</a>. For information about the availability of refunds, please review our <a href="./BS004-privacypolicy.html" title="Privacy Policy." class="privacy">Privacy Policy.</a></p>
        </li>
        <li class="list__detail_item">
          <h4 class="item_title">Restrictions and Prohibited Uses</h4>
          <p class="terms_info">Brain Fit Life is used by thousands of people, and we are proud of the trust our users place in us. We expect, in turn, that our users do not misuse our products and services. Except with our written permission, you shall not:</p>
          <ul class="restrictions">
            <li class="terms_info">Attempt to impersonate another person or use another person’s Brain Fit Life ccount infor mation without authorization;</li>
            <li class="terms_info">Use or distribute Brain Fit Life for your own sci entific or clinical research purposes;</li>
            <li class="terms_info">Violate or attempt to violate Brain Fit Life’s security features, including logging into server that you are not authorized to access, or probing the vulnerability of Brain Fit Life systems and networks;</li>
            <li class="terms_info">Redistribute, decompile, reverse engineer, publish, or copy Brain Fit Life, including cracking its flash (.SWF) files;</li>
            <li class="terms_info">Use Brain Fit Life for the purpose of creating a product with a substantially similar look, feel or design;</li>
            <li class="terms_info">Access or search Brain Fit Life by any means other than our publicly supported interfaces (for example, “scraping”);</li>
            <li class="terms_info">Interfere with others’ use and enjoyment of Brain Fit Life;</li>
            <li class="terms_info">Use Brain Fit Life or any trademarks, game names, trade names, service marks, copy rights, or logos of BrainMD Health in unsolic ited mailings, spam material, contests or surveys, or to create the impression that such tems are associated with you;</li>
            <li class="terms_info">Violate any third party’s rights, including intel lectual property or privacy rights;</li>
            <li class="terms_info">Threaten, stalk, harm, or harass others; or engage in activity in connection that is fraud lent, abusive, defamatory, illegal or otherwise inappropriate.</li>
          </ul>
          <p class="terms_info">Engaging in prohibited uses is grounds for immediate termination of your Brain Fit Life account, and may also subject you to civil or criminal pen</p>
        </li>
        <li class="list__detail_item">
          <h4 class="item_title">Disclaimers</h4>
          <p class="terms_info">YOU AGREE THAT USE OF BRAIN FIT LIFE IS AT YOUR OWN SOLE RISK AND THAT BRAIN FIT LIFE IS PROVIDED ON AN “AS IS”, “AS AVAILABLE” BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. TO THE MAXIMUM EXTENT PERMITTED BY LAW, BrainMD Health AND ITS AFFILIATES, OFFICERS AND/OR EMPLOYEES EXPRESSLY DISCLAIM ANY AND ALL WARRANTIES, EXPRESS OR IMPLIED, REGARDING BRAIN FIT LIFE, INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NONINFRINGEMENT. Some jurisdictions do not allow the disclaimers in this paragraph, so they may not apply to you.</p>
          <p class="terms_info">BrainMD Health STRIVES TO MAINTAIN BRAIN FIT LIFE ON A COMMERCIALLY REASONABLE BASIS AND CANNOT GUARANTEE THAT YOU WILL HAVE ACCESS TO BRAIN FIT LIFE AT ALL TIMES.</p>
          <p class="terms_info">BRAIN FIT LIFE IS NOT A MEDICAL SERVICE AND IS NOT TO BE USED FOR THE PURPOSE OF SEEKING, AND BRAIN FIT LIFE IS NOT PROVIDING, MEDICAL TREATMENT OR ADVICE.</p>
        </li>
        <li class="list__detail_item">
          <h4 class="item_title">Limitation of Liability</h4>
          <p class="terms_info">IN NO EVENT SHALL BrainMDHealth OR ITS AFFILIATES, OFFICERS AND/OR EMPLOYEES BE LIABLE WITH RESPECT TO BRAIN FIT LIFE FOR (I) IN THE AGGREGATE, ANY AMOUNT IN EXCESS OF THE FEES PAID BY YOU TO SUBSCRIBE TO BRAIN FIT LIFE; (II) LOST PROFITS, LOST DATA, OR FAILURE TO MEET ANY DUTY INCLUDING WITHOUT LIMITATION GOOD FAITH AND REASONABLE CARE ARISING OUT OF YOUR ACCESS TO OR USE OF BRAIN FIT LIFE; OR (III) ANY DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER.</p>
          <p class="terms_info">YOU AGREE THAT THIS LIMITATION OF LIABILITY REPRESENTS A REASONABLE ALLOCATION OF RISK AND IS A FUNDAMENTAL ELEMENT OF THE BASIS OF THE BARGAIN BETWEEN BrainMD Health AND YOU. YOU UNDERSTAND THAT BRAIN FIT LIFE WOULD NOT BE PROVIDED WITHOUT SUCH LIMITATIONS. Some jurisdictions do not allow the limitations in this section, so they may not apply to you.</p>
        </li>
      </ul>
      <div class="btn_home">
        <a href="#" class="btn btn-block btn__regular long">Return to Home</a>
      </div>
    </div>
  </div>
</div>
