---
layout: layout.hbs
---
<div class="content">
  <div class="hero">
    <div class="main__logo">
      <h1>
        <a href="#"><img class="top__logo" alt="brainsalvation" src="{{assets}}images/front/logo_savation.png"></a>
      </h1>
      <h3 class="top__caption">How does your lifestyle affect your Alzheimer's Risk?</h3>
    </div>
    <div class="risk__reduction">
      <p class="risk__reduction__title">Discover your<br>Risk Reduction Score</p>
      <div class="risk__reduction__button">
        <a href="#" alt="START NOW" class="btn btn-block btn__regular btn__regular--uppercase short">start now !</a>
      </div>
    </div>
  </div>
  <div class="content__padded page-top">
    <div class="risk__reduction__content">
      <h3 class="risk__reduction__content__title">What's Risk Reduction Score?</h3>
      <div class="risk__reduction_chart">
        <img class="risk__reduction_img" alt="Risk Reduction Score" src="{{assets}}images/front/reduction_score.jpg" alt="Risk Redution Score" width="300" height="228">
      </div>
      <div class="describe">
        <div class="describe__content">
          <p class="describe__inner">The Risk Reduction Score is a crucial component of the brainsalvation system. The score provides a clear guideline for understanding how your lifestyle increases or decreases your chances of developing dementia and/or Alzheimer’s. The Risk Reduc-tion Score is based on science from <a href="/reference" class="describe__link">multiple publications</a>, and has been developed under the supervision of <a href="https://www.mccare.com" class="describe__link">Medical Care Corporation</a>, which spe-cializes in researching cognitive impairment diseases like Alzheimer's.</p>
          <p class="describe__inner">We'll use the Risk Reduction Score to give you lifestyle tips that will help you reduce your risk of dementia and Alzheimer's disease. We hope that this information helps you achieve a long, happy life with your family.</p>
        </div>
        <div class="alzheimers__disease">
          <h4 class="alzheimers__disease__title">ALZHEIMER'S DISEASE FACTS AND FIGURES</h4>
          <div class="figures__detail">
            <div class="figures__detail__inner">
              <h5 class="figures__detail__title">PREVALENCE</h5>
              <p class="describe__inner">Alzheimer’s disease is the <span class="describe__inner--semibold">6th leading cause of death</span> in the United States.*1</p>
            </div>
            <div class="figures__detail__inner">
              <h5 class="figures__detail__title">CAREGIVERS</h5>
              <p class="describe__inner">On average, care contributors <span class="describe__inner--semibold">lose over $15,000</span> in annual income as a result of reducing or quitting work to meet the demands of caregiving.*1</p>
            </div>
            <div class="figures__detail__inner">
              <h5 class="figures__detail__title">COST TO NATION</h5>
              <p class="describe__inner">Alzheimer's disease is one of the cost-liest chronic diseases to society. The growing <span class="describe__inner--semibold">Alzheimer's crisis is helping to bankrupt Medicare</span>. Medicare and Medicaid are expected to cover <span class="describe__inner--semibold">$160 billion, or 68%</span>, of the total health care and long-term care payments forpeople with Alzheimer's disease and other dementias.*1</p>
            </div>
            <div class="figures__detail__inner">
              <h5 class="figures__detail__title">Pathogenesis</h5>
              <p class="describe__inner">The Amyloid β buildup that is the cause of Alzheimer's in the brain starts from the age of about <span class="describe__inner--semibold">40 or older</span>. At <span class="describe__inner--semibold">10 or more years later</span>, Tau protein buildup will begin. Then, 15 or more years later it, will reach Mild cognitive Impairment expression or “Alzheimer’s disease”.*2</p>
            </div>
          </div>
          <div class="reference__sources">
            <p class="reference__sources__list">Reference sources;</p>
            <a href="#" class="reference__sources__list">*1Alzheimer’s association</a>
            <p class="reference__sources__list">*2 David M. Holtzman,C. Morris John,</p>
            <p class="reference__sources__list">Alison Goate, 2011, Alzheimer’s</p>
            <p class="reference__sources__list">Disease: The Challenge of the Second Century</p>
          </div>
          <div class="block__start">
            <p class="risk__reduction__title">Discover your<br>Risk Reduction Score</p>
            <div class="risk__reduction__button">
              <a href="#" alt="START NOW" class="btn btn-block btn__regular btn__regular--uppercase short">start now !</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block__footer">
    <a href="#" class="block__footer__link feedback">FEEDBACK</a>
    <a href="#" class="block__footer__link">References</a>
    <a href="#" class="block__footer__link">Terms</a>
    <a href="http://www.pegara.com/" target="_blank" class="block__footer__link">About us</a>
    <a href="http://www.pegara.com/" target="_blank" class="block__footer__link">Contact us</a>
    <a href="#" class="block__footer__link">Privacy policy</a>
    <p class="block__footer__link copyright">Copyright &copy; 2015 Pegara, Inc. All Rights Reserved.</p>
  </div>
</div>
